<%- include head.ejs %>
	<title>SockChat |
		<%= user.username %>
	</title>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
	<!-- <script type="text/javascript" src="/js/angular.min.js"></script> -->
	<link rel="stylesheet" type="text/css" href="/css/chat.css">
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var myuser = '<%= user.username %>';
		var userhash = '<%= user.hash %>';
		var rooms = JSON.parse('<%- JSON.stringify(rooms) %>');
		var messages = JSON.parse('<%- JSON.stringify(messages) %>');
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.7.2/redux.js"></script>
	<script src="/js/react.production.min.js"></script>
	<script src="/js/react-dom.production.min.js"></script>
	<script src="/js/babel.min.js"></script>
	<!-- @todo Feed these values directly to js -->
	<script type="text/babel" src="/js/chat.js"></script>
	</head>

	<body>
		<nav class="navbar has-shadow is-black" id="mainNav" style="position:fixed;z-index:100;width:100%">
			<div class="container">
				<div class="navbar-brand">
					<img src="/images/back.png" height="10px" style="max-height: 30px;top: 10px;margin-top: 8px;margin-left: 10px;display:none;"
					    id="backBthMob">
					<a class="navbar-item" href="/about" id="branding_sockchat">
						<img src="/images/logo/icon96.png">
						<b>ock</b>Chat
					</a>
					<img src="/images/info.png" height="10px" style="max-height: 20px; top: 12px; position: absolute; right: 50px;display:none"
					    id="infoBthMob">
					<div class="navbar-burger burger" data-target="navMenu">
						<span></span>
						<span></span>
						<span></span>
					</div>


				</div>

				<div id="navbarMenu" class="navbar-menu">
					<div class="navbar-end">
						<div class="navbar-end">
							<a class="navbar-item">
								Hi!
								<%= user.name.split(' ')[0]%>!
							</a>
							<a href="/about" class="navbar-item">
								About
							</a>
							<a href="/profile" class="navbar-item">
								Profile
							</a>
							<a href="/logout" class="navbar-item">
								LogOut
							</a>

						</div>
					</div>
				</div>
			</div>
		</nav>

		<div id="filler">
			<br>
			<br>
		</div>


		<div class="columns" id="mail-app">
			<aside class="column is-3 aside hero is-fullheight is-dark" id="conv-list">
				
			</aside>

			<div class="column is-7 messages hero is-fullheight" id="message-feed">

				<div class="inbox-messages" id="inbox-messages">
					
				</div>
				<div class="hero-foot" id="makeVisible" style="bottom: 0;position: fixed; margin-bottom:10px">
				
					<div class="container">
						<div class="tabs is-centered">
							<div class="field has-addons" id="messageSend" style="width: 100%;">
								<p class="control is-expanded">
									<input class="input" id="msgTextBox" type="text" placeholder="<%= user.username %>: Enter Message here">
								</p>
								<p class="control ">
									<a id="msgSendBtn" class="button is-primary">
										Send
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="column is-2 messages hero is-fullheight is-dark" id="feed-info">
				<div class="column ">

					<div class="panel" id="activeUserpanel">
						
					</div>

				</div>

			</div>


		</div>

		</div>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js" integrity="sha256-4PIvl58L9q7iwjT654TQJM+C/acEyoG738iL8B8nhXg="
		    crossorigin="anonymous"></script>
		<!-- <script src="/js/socket.js" type="text/javascript"></script> -->
		<script src="/js/mobile.js"></script>
		<%- include footer.ejs %>