<%- include head.ejs %>
	<title>SockChat | <%= user.username %></title>
	<link rel="stylesheet" type="text/css" href="/css/chat.css">
	<script src="/socket.io/socket.io.js"></script>
</head>

<body>
	<nav class="navbar has-shadow is-black" id="mainNav" style="position:fixed;z-index:100;width:100%">
		<div class="container">
			<div class="navbar-brand">
				<a class="navbar-item" href="/about">
					<img src="/images/logo/icon96.png" ><b>ock</b>Chat
				</a>
	
				<div class="navbar-burger burger" data-target="navMenu">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
	
			<div id="navMenu" class="navbar-menu">
				<div class="navbar-end">
					<div class="navbar-end">
						<a class="navbar-item">
							Hi! <%= user.name.split(' ')[0]%>!	
						</a>
						<a href="/about" class="navbar-item">
							About
						</a>
						<a href="/register" class="navbar-item">
							Profile
						</a>
						<a href="/logout" class="navbar-item">
							LogOut
						</a>
						
					</div>
				</div>
			</div>
		</div>
	</nav>
	
	<div id="filler">
<br><br>
	</div>


	<div class="columns" id="mail-app">
		<aside class="column is-3 aside hero is-fullheight is-dark" id="conv-list">
			<div>
				<div class="compose has-text-centered">
					<a class="button is-danger is-block is-bold">
						<span class="compose">New Thread</span>
					</a>
				</div>
				<div class="main">
					<a href="#" class="item active">
						<span class="icon">
							<i class="fa fa-inbox"></i>
						</span>
						<span class="name">Common Channel</span>
					</a>
					
				</div>
			</div>
		</aside>
		
		<div class="column is-7 messages hero is-fullheight" id="message-feed" >
			
			<div class="inbox-messages" id="inbox-messages">
				<% messages.forEach(function(msg){%>
				<div class="box">
					<article class="media">
						<div class="media-content">
							<div class="content">
								<p>
									<strong><%= msg.user%></strong>
									<small>@johnsmith</small>
									<small></small>
									<br><%= msg.message%>
								</p>
							</div>
							
						</div>
					</article>
				</div>
				<%})%>
			</div>
			
			<!-- <div class="field" id="messageSend">
				<form action="">
				<label class="label">Label</label>
				<div class="control">
					<input class="input" type="text" placeholder="Text input"><button class="button is-primary">Submit</button>
				</div>
				<div class="control">
					
				</div>
				</form>

			</div> -->
				<div class="hero-foot" id="makeVisible" style="bottom: 0;display:none;position: fixed; margin-bottom:10px">
					<div class="container">
						<div class="tabs is-centered">
							<div class="field has-addons" id="messageSend" style="width: 100%;">
								<p class="control is-expanded">
									<input class="input" id="msgTextBox" type="text" placeholder="Enter Message here">
								</p>
								<p class="control ">
									<a id="msgSendBtn" class="button is-primary">
										Send
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
		</div>
	
		<div class="column is-2 messages hero is-fullheight is-black" id="feed-info">
		<div class="column ">
		
			<div class="panel" id="activeUserpanel">
				<p class="panel-heading">
					Active users
				</p>
				
				<span class="panel-block">
					<span class="panel-icon">
						<i class="fa fa-user"></i>
					</span>
				</span>
			</div>
		
		</div>
			
		</div>
		
		
		</div>
		
	</div>
	
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.min.js" integrity="sha256-5CEXP4Sh+bwJYBngjYYh2TEev9kTDwcjw60jZatTHtY="
	 crossorigin="anonymous"></script> -->
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js" integrity="sha256-QHdJObhDO++VITP6S4tMlDHRWMaUOk+s/xWIRgF/YY0="
	 crossorigin="anonymous"></script> -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js" integrity="sha256-4PIvl58L9q7iwjT654TQJM+C/acEyoG738iL8B8nhXg="
	 crossorigin="anonymous"></script>
	<script type="text/javascript">
	function removeDup(arr) {
			let unique_array = Array.from(new Set(arr))
			return unique_array
		}
		$(document).ready(function () {

			$("#messageSend").width($("#message-feed").width());
			$("#makeVisible").delay(100).fadeIn();
			// $(".main .item").click(function() {
			// 	$("#conv-list").fadeOut();

			// });
			$("#filler").height($("#mainNav").height());
			$('footer').hide();
			
			
		});
		$(function () {
				var socket = io.connect();
				var $message = $("#msgTextBox");
				var $chat = $("#inbox-messages");
				var myuser = "";
				//onload init
				myuser = '<%= user.username %>';
				socket.emit('new user', myuser, function (data) {
					if (data) {
						$("#userFormArea").fadeOut();
						$("#postLogin").fadeIn();
					}
				});
				socket.on('get users', function (data) {
					var html = '<p class="panel-heading">Active users</p >';
						
					removeDup(data).forEach(function (singleuser) {
						html += '<a class="panel-block"><i class="fa fa-user"></i>&nbsp;'+singleuser+'</a >';
					});
					$("#activeUserpanel").html(html);
				});
				$("#msgSendBtn").click(function (e) {
					e.preventDefault();
					socket.emit('send message', $message.val());
					$message.val('');
				});
				$("#msgTextBox").on('keyup', function (e) {
					console.log('enter trig');
					if (e.keyCode == 13) {
						console.log('hmm');
						$("#msgSendBtn").trigger("click");
					}
				});
				socket.on('new message', function (data) {
					var col = 'is-primary';
					if (data.user == myuser)
						col = 'mymsg';
					$chat.append('<div class="box '+ col +'"><article class="media"><div class="media-content"><div class="content"><p><strong> '+data.user+'</strong><small>@' + data.user +'</small><small></small><br>'+data.msg+'</p></div></div></article></div>');
				});
			});

	</script>
<%- include footer.ejs %>
