<%- include head.ejs %>
	<title>Login|SockChat</title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	</head>

	<body>
		<section class="hero is-success is-fullheight" id="main">
			<div class="hero-head">
				<nav class="navbar">
					<div class="container">
						<div class="navbar-brand">
							<div id="sockChat" class="title">
								<a href="/">
									<img src="/images/logo/icon48.png" id="header_logo" alt="">
									<h1>
										<b>ock</b>Chat</h1>
								</a>
							</div>
							<span class="navbar-burger burger" data-target="navbarMenu">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</div>
						<div id="navbarMenu" class="navbar-menu">
							<div class="navbar-end">
								<a href="/" class="navbar-item">
									Home
								</a>
								<a href="/register" class="navbar-item is-active">
									Register
								</a>
								<a href="/login" class="navbar-item">
									Login
								</a>
								<span class="navbar-item">
									<a class="button is-white is-outlined is-small" href="">
										<span class="icon">
											<i class="fa fa-github"></i>
										</span>
										<span>View Source</span>
									</a>
								</span>
							</div>
						</div>
					</div>
				</nav>
			</div>
			<div class="hero-body">
				<div class="container has-text-centered" id="mainArea">
					<div class="column is-4 is-offset-4">
						<h3 class="title has-text-grey">Register</h3>
						<p class="subtitle has-text-grey">Create an account to use SockChat.</p>
						<br>
						<div class="box">
							<figure class="avatar">
								<img src="/images/logo/icon144.png">
							</figure>
							<form action="/api/register/web" method="post">
								<br>
								<br>
								<% if(valErrors.length>0){%>
									<div class="notification is-danger">
										<strong>Error! </strong>
										<ul>
											<% valErrors.forEach(function(valError){%>
												<li>
													<%= valError.msg %>
												</li>
												<%}); %>
										</ul>
									</div>
									<%}%>
										
									<% if (errors) { %>
										<div class="notification is-danger">
											<strong>Error!</strong>
											<ul>
												<% errors.forEach(function(err){%>
													<li>
														<%= err.msg %>
													</li>
													<%}); %>
											</ul>
										</div>
										<% } %>
								<% if (message.length > 0) { %>
									<div class="notification is-danger">
										<%= message%>
									</div>
									<% } %>

										<div class="field">
											<div class="control">
												<input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
											</div>
										</div>
										<div class="field">
											<div class="control">
												<input class="input is-large" type="text" name="uname" placeholder="Username" autofocus="">
											</div>
										</div>
										<div class="field">
											<div class="control">
												<input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
											</div>
										</div>


										<div class="field">
											<div class="control">
												<input class="input is-large" type="password" name="password" placeholder="Your Password">
											</div>
										</div>
										<div class="field">
											<div class="control">
												<input class="input is-large" type="password" name="password_" placeholder="Password Confirmation">
											</div>
										</div>
										<!--  <div class="field">
                <label class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
			</div> -->
			<input type="submit" class="button is-block is-info is-large" style="width:100%" value="Register">
		</form>
										<br>
										<button class="loginBtn loginBtn--facebook" onclick="window.location='/auth/facebook'">
											Login with Facebook
										</button>
										
										<!-- <button class="loginBtn loginBtn--google">
											Login with Google
										</button> -->

						</div>
						<p class="has-text-grey">
							<a href="/login">Log In</a> &nbsp;·&nbsp;
							<!-- <a href="#">Forgot Password</a> &nbsp;·&nbsp; -->
							<a href="#">Need Help?</a>
						</p>
					</div>
				</div>
			</div>
		</section>
		<script>
			// var prev = JSON.parse('<%- data %>');
			// console.log(prev);
			// prev.forEach(function(index,value){
			// 	if(value!=''){
			// 		$("[name='"+index+"']").val(value);
			// 	} 
			// });
			<% for (var prop in data) {%>
				<% if (data[prop] != '') {%>
			$("[name='<%= prop %>']").val('<%= data[prop] %>');
				<% } %>
			<% } %>

			// $("#userForm").submit(function(e) {
			// 	e.preventDefault();
			// 	$.ajax({
			// 	  type:'POST'
			// 	  url: "/api/register",
			// 	  data:{
			// 	  	uname: $("[name='uname']").val(),
			// 	  	name: $("[name='name']").val(),
			// 	  	email: $("[name='email']").val(),
			// 	  	password: $("[name='password']").val(),
			// 	  	password_: $("[name='password_']").val(),
			// 	  }
			// 	}).done(function(data) {

			// 	  $("#userForm").prepend('<div class="alert alert-danger"></div>');
			// 	});
			// })


			// $(".form-control").focus(function(){
			// 	if($(this).val()==$(this).attr('placeholder')){
			// 		$(this).val('');
			// 	}
			// });
			// $(".form-control").blur(function(){
			// 	if($(this).val()==''){
			// 		$(this).val($(this).attr('placeholder'));
			// 	}
			// });
		</script>
<%- include footer.ejs %>